.header{
    height: 34vw;
    margin: 30px auto;
    background: url('E:\Code\Websites\Food Delivery\frontend\src\assets\header_img.jpg') no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 20px;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s;
}

.header-contents h2 {
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: max(4.5vw, 22px);
    text-shadow: 2px 2px 4px rgba(255, 2, 2, 0.948);
}

.header-contents p {
    color: white;
    font-size: 1vw;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3); 
}


.header-contents button{
    border: none;
    color: rgb(210, 19, 19);
    font-weight: 500;
    padding: 1vw 2.3vw;
    background-color: white;
    font-size: max(1vw, 13px);
    border-radius: 50px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
@media (max-width: 1050px){
    
    .header-contents{
        max-width: 45%;
    }
}
@media (max-width: 750px){
    
    .header-contents{
        max-width: 65%;
    }
    .header-contents p{
        display: none;
    }
    .header-contents button{
        padding: 2vw 4vw;
    }
}